@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background: url(./img/bgg.jpg)no-repeat center center/cover;
    /* height: 20vh; */
    position: relative;
}

#head {
    /* border: 2px solid red; */
    height: 14vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: block;
    font-family: 'Ubuntu', sans-serif;
}



.logo {
    /* border: 2px solid black; */
    height: 15vh;
    width: 10vw;
    /* margin: 15px; */
    padding: 14px 0px 5px 20px;

}

img {
    height: 11vh;
    width: 7vw;
    /* background: transparent; */
    overflow: hidden;

}

#navigation {
    /* border: 2px solid blue; */
    position: absolute;
    top: 35%;
    left: 5%;
}

.fa-caret-down {
    margin-left: 5px;
}

.dropdown {
    position: relative;
    display: inline-block;
    /* background-color: #a7b8bb; */
}

.dropdown-content {
    display: none;
    position: absolute;
    transform: translate(0%, 2.5%);
    background-color: #f9f9f9;
    min-width: 255px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
    background-color: #dce0e1;
    border: 1px solid black;
}

.dp {
    /* background-color: lightgray; */
    margin: 5px 0px;
    padding: 30px 0px;
    line-height: 50px;
}

#navigation a {
    padding: 8px 25px;
    font-size: 1.4rem;
    text-decoration: none;
    color: black;
}

#navigation a:hover {
    border: 2px solid black;
    border-radius: 5px;
    color: brown;
    border: 2px solid brown;

}

.btn {
    position: absolute;
    top: 29%;
    right: 12%;
    /* padding: 2px; */
    width: 9vw;
    height: 5.2vh;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    transition: width 1s;
}


.btn:hover {
    width: 10vw;
    color: brown;
    border: 2px solid brown;
}

span {
    margin-right: 8px;
}

.content {
    /* border: 2px solid red; */
    height: 50vh;
    margin: 30px 10px;
    overflow: auto;
}



.title {
    text-align: center;
    transform: translate(0vw, 22vh);
    font-size: 2.5rem;
    font-family: 'Roboto Slab', serif;
    word-spacing: 10px;
}

.para {
    /* position: absolute; */
    text-align: center;
    transform: translate(0vw, 22vh);
    word-spacing: 3px;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 27px;
}

#Order {
    transform: translate(44vw, 23vh);
    width: 11vw;
    height: 5.2vh;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    transition: width 1s;
}

#Order:hover {
    color: #000;
    border: 2px solid rgb(0, 0, 0);
    width: 12vw;
}

footer {
    /* border: 2px solid black; */
    padding: 15px;
    height: 10vh;
    margin-top: 125px;
}

footer p {
    float: left;
    margin: 35px;
    font-size: 1.2rem;
    font-weight: bold;
}

/***Responsiveness***/

@media screen and (max-width: 900px) {
    .btn  {
        /* display: block; */
        display: none;
    }
}
@media screen and (max-width: 400px) {
    .head{
        display: block;
    }
}


@media screen and (max-width: 900px) {
    #Order  {
        /* display: block; */
        display: none;
    }
}